
	.section{
		text-align:center;
	}


	#section1,
	#section2,
	#section3{
		background-size: cover;
		background-attachment: fixed;
    color: white;
	}

	#section1{
		background-image: url('imgs/cmp1.jpg');
	}

	#section2{
		background-image: url('imgs/cmp1.jpg');
	}
	#section3{
		background-image: url('imgs/cmp1.jpg');
	}

	h1, h2, h3, h4, h5, h6{
		font-family: 'Oswald', serif;
	}

	* {
		font-family: "Quattrocento";
	}

@keyframes lar {
	0% {
		width: 0px;
	}
	100% {
		width: 200px;
	}
}

hr {
	animation: lar 2s;
	background: white;
	width: 200px;
	margin-right: 80%;
}

.dis {
	color: grey;
}

.col-md-6 {
	border-radius: 15px;
	background-color: rgba(42, 52, 57, 0.5);
	color: white;
	text-align: left;
	padding: 15px;
	margin: 20px;
	max-width: 600px;
	-webkit-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.75);


}

.abt {
	text-align: left;
}

.tch {
	text-align: center;

}



.tch hr {
	margin-right: auto;
}

.fab, .fas, .far, .fa {
	padding: 20px;
}

.ic:hover, .ic2:hover {
	color: lightgray;
	opacity: 0.5;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;

}

.page_links:hover {
	color: lightgray;
	opacity: 0.5;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
	font-size: 115%;
}

a {
	text-decoration: none;
	color: inherit;
}



.ic2 {
	background-color: rgba(42, 52, 57, 1.0);
	border-radius: 50%;
	padding: 8px;
	margin: 5px;
}



@media(max-width:1280px) {
	#section1{
		background-size: cover;
		background-attachment: scroll;
		background-position: center center;
		color: white;
	}
	#section2{
		background-size: cover;
		background-attachment: scroll;
		background-position: center center;
		color: white;
	}

	#section3{
		background-size: cover;
		background-attachment: scroll;
		background-position: center center;
		color: white;

	}

	.under {
		margin-bottom: 40px;
	}

	hr {
		width: auto;
		margin-right: 60%;
	}



}

@media(max-width:574px) {
	.tch {
		margin-top: 40px;
	}

	hr {
		width: 150px;
		margin-right: 50%;
	}
