body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 'Open Sans', serif !important;
}

h1, h2, {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: bolder;
}

h3, h4, h5, h6 {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
}

a, a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  animation: spin 1s;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
}

.bg {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}

.title1 img {
  max-height: 250px;
}

.card-first {
  width: 70%;
  background-color: #F4F7F5;
  padding: 20px;
  border-radius: 10px;
  color: #08090A;
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.77);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.77);
  box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.77);
  display: inline-block;
  text-align: left;
  margin-bottom: 15%;
  margin-top: 10%
}

.project-card-outer {
  width: 400px;
  background-color: #F4F7F5;
  padding: 20px;
  color: #08090A;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 24px 10px rgba(0,0,0,0.77);
  -moz-box-shadow: 10px 10px 24px 10px rgba(0,0,0,0.77);
  box-shadow: 10px 10px 24px 10px rgba(0,0,0,0.77);
  text-align: left;
  margin-left: -15rem;
  transition: 0.2s;

}

.project-card-outer:hover, .project-card-outer:focus-within {
  transform: translateY(-1rem);
}

.project-card-outer:hover ~ .project-card-outer, .project-card-outer:focus-within ~.project-card-outer{
  transform: translateX(15rem);
}

.cards-anim {
  display: flex;
  margin-left: 25%;
}

.project-card-outer h4 a{
  color: #16DB65
}

.project-card-inner img {
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

.custom-nav-inner h5 {
  display: inline;
}

.custom-nav-inner a {
  text-decoration: none;
  color: white;
}

.custom-nav {

}

.custom-nav-inner img {
  height: 200px;
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.77));

}

.navigation-inner h4 {
  display: inline;
}

.map-outer {
  text-align: center;
}

.map-outer button{
  border: none;
  text-align: center;
  border-radius: 10px;
  padding: 14px 26px;
  width: auto;
  background-color: #08090A;
  color: #F4F7F5;
}

.nav-cont {
  margin-bottom: 5%;
}



#selection:hover {
  background-color: #F25F5C
}

.submit-form #btn {
  background-color: #D72638 ;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
  font-weight: bolder;
}

.fa, .fab {
  margin: 5px;
}

.column {
  float: left;
}

#mob {
  display: none;
}

#formcar {
  max-width: 300px;
}


.contact-form {
  width: 70%;
  background-color: #F4F7F5;
  padding: 20px;
  border-radius: 10px;
  color: #08090A;
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.77);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.77);
  box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.77);
  text-align: left;
  margin: auto;
}

.form-inner {
  position: relative;
}

.form-inner input, .form-inner select, .form-inner textarea {
  border: none;
  width: 100%;
  padding-top: 20px;
  border-bottom: 1px solid #08090A;
  transition: 0.2s;
  margin: 5px;
}

.form-inner input:focus, .form-inner select:focus, .form-inner textarea:focus {
  outline: none;
  border-bottom: 3px solid #16DB65;
}

.form-inner .submit {
  border: none;
  text-align: center;
  border-radius: 10px;
  padding: 14px 26px;
  width: auto;
  background-color: #08090A;
  color: #F4F7F5;
}




/* #16DB65 */

.right {
  width: 75%;
  height: 100%;
  background: url(bg1.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  background-position: 50% 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.left {
  width: 25%;
  background-color: #F4F7F5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  text-align: center;
  overflow-y: scroll;
  overflow-x :hidden;
}

.submit-form #btn:hover {
  background-color: #F25F5C
}

.submit-form .field {
  display: block;
  border: none;
  background: none;
  border-bottom: 2px solid #757780;
  color: #757780;
}

.submit-form .field:focus {
  outline: none;
  border-bottom: 2px solid #011627 ;
  -webkit-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
}

@keyframes grow {
  from{
    opacity: 0
  }

  to{
    opacity: 1
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#logosecond {
  display: none;
}


 .mobile-card {
   display: none;
 }

 .mobile-nav {
   display: none
 }

 .mobile-info {
   display: none;
 }

 ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-device-width: 1610px) {

  #logofirst {
    width: 100%;
    height: auto;
  }

  .form-inner input, .form-inner select, .form-inner textarea {
    border: none;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #08090A;
    transition: 0.2s;
    margin: auto;
  }

  .contact-form {
    margin-top: 25%;
  }

  .title1 img {
    width: 100%;
    height: auto;
  }

  .right {
    align-items: baseline;
    overflow-x: none;
    overflow-y: scroll;
  }

  #front {
    display: none;
  }

  .desktop-card {
    display: none;
  }

  .mobile-card {
    display: inline-block;
  }

  .mobile-nav, .mobile-nav a {
    display: block;
    color: #08090A;
  }

  .mobile-nav h4 {
    font-size: 25px;
  }

  .desktop-nav {
    display: none;
  }

  .map-outer button {
    display: none;
  }



  .project-card-outer {

  }

  .project-card-inner img {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    align-self: center;
  }








  a:hover {
    animation: none;
  }


}

@media only screen and (max-device-width: 400px) {

  .mobile-nav h4 {
    font-size: 15px;
  }

  .project-card-inner img {
    width: 100%;
    height: auto;
    margin: 10px 0px;
  }

  .project-card-outer {
    width: 100%;
    margin-top: 20%;
    margin-left: -1rem;
    transition: 0.2s;
    flex-shrink: 0;

  }

  .cards-anim {
    margin-left: -10px;
    display: flex;
    overflow-x: auto;
    width: 250px;
  }

  .project-card-outer:hover, .project-card-outer:focus-within {
    transform: translateY(-1rem);
  }

  .project-card-outer:hover ~ .project-card-outer, .project-card-outer:focus-within ~.project-card-outer{
    transform: translateX(10rem);
  }
}
